 body {
   min-width: 900px;
   font-weight: 500;
   font-size: 15px;
   font-family: "Roboto", "Arial", sans-serif;
   color: #000000;
   background: #ffffff;
 }

 .main-header {
   color: #000000;
   background-color: #eeeeee;
   width: 1200px;
   margin: 0 auto;
   margin-bottom: 60px;
 }

 .container {
   width: 890px;
   margin: 0 auto;
   padding: 0 10px;

 }

 .clearfix::after {
   content: "";
   display: table;
   clear: both;
 }

 .nerds-logo {
   float: left;
   width: 140px;
   margin-left: 6px;
   padding-top: 27px;
 }

 .main-navigation {
   float: left;
   width: 557px;
   margin-left: 20px;
   min-height: 100px;
 }

 .main-navigation ul {
   float: right;
   margin: 0;
   padding: 0;
   list-style: none;
   margin-top: 54px;
 }

 .main-navigation li {
   display: inline-block;
   vertical-align: top;
   margin-right: 40px;
 }

 .main-navigation a:hover {
   color: #fb565a;
 }

 .main-navigation a:active {
   color: #ababab;
 }

 .main-navigation li:nth-child(4n) {
   margin-right: 0;
 }

 .main-navigation a {
   font-size: 14px;
   line-height: 30px;
   text-decoration: none;
   text-transform: uppercase;
   color: #000000;
 }

 .basket {
   float: right;
   width: 100px;
   margin-top: 54px;
 }

 .basket .basket-btn {
   position: relative;
   font-size: 14px;
   line-height: 30px;
   text-decoration: none;
   text-transform: uppercase;
   color: #000000;
   padding-left: 30px;
 }

 .basket-btn::before {
   content: "";
   position: absolute;
   top: 0px;
   left: 1px;

   width: 19px;
   height: 19px;

   background: transparent url("../img/sprite-basket.png") no-repeat;
   background-position: 0px 0px;

   opacity: 0.7;
 }

 .basket-btn:hover::before {
   opacity: 1;
   background-position: -1px -62px;
 }

 .basket-btn:active::before {
   opacity: 0.8;
   background-position: 0px -121px;
 }

 .basket a:hover {
   color: #fb565a;
 }

 .basket a:active {
   color: #ababab;
 }

 .welcome-to-shop {
   position: relative;
   width: 890px;
   height: 228px;
   margin: 0 auto;
   color: #000000;
   background-color: #eeeeee;
 }

 .welcome-to-shop h1{
   margin: 0;
   padding: 0;
   color: #000000;
   font-size: 40px;
   line-height: 49px;
   font-weight: 500;
   font-family: "Roboto", "Arial", sans-serif;
   text-transform: uppercase;
   text-align: center;
   padding-top: 48px;
   padding-right: 9px;
 }

 .index-slider {
   position: relative;
   width: 890px;
   height: 335px;
   margin: 0 auto;
   color: #000000;
   background-color: #eeeeee;
 }

 .index-slider input {
   display: inline-block;
   position: relative;
   margin-right: 5px;
   z-index: 9;
   top: 73%;
   left: 46%;
 }

 .index-slider div {
   position: absolute;
   top: 0px;
   left: 0px;
   right: 0px;
   bottom: 0px;
   z-index: 0;
   color: #000000;
   background-color: #eeeeee;
   visibility: hidden;
   opacity: 0;
   transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0.9s;
 }

 .index-slider input:checked + label + div {
   visibility: visible;
   opacity: 1;
   transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0s;
 }

 .slide-content {
   /*display: inline-block;
   vertical-align: top;*/
 }

 .slide-content h2{
   display:
   margin: 0;
   padding: 0;
   font-size: 36px;
   line-height: 36px;
   width: 470px;
   font-weight: 500;
   margin-top: 57px;
   margin-bottom: 17px;
   margin-left: 4px;
 }

 .slide-content p{
   margin: 0;
   padding: 0;
   font-size: 16px;
   line-height: 22px;
   width: 470px;
   margin-left: 5px;
 }

 .slide1 {
   position: absolute;
   top: 37px;
   right: 5px;
 }

 .slide2 {
   position: absolute;
   top: 35px;
   right: 15px;
 }

 .slide3 {
   position: absolute;
   top: 16px;
   right: 10px;
 }

 .btn-slide {
   margin-top: 28px;
   margin-left: 5px;
   display: inline-block;
   margin-right: 16px;
   padding: 10px 70px;
   vertical-align: top;

   font-weight: 500;
   font-size: 12px;
   line-height: 18px;
   font-family: "Roboto", "Arial", sans-serif;
   text-transform: uppercase;
   color: #ffffff;
   background-color: #fb565a;
   border: 1px solid #fb565a;
   border-radius: 2px;
   outline: none;
   cursor: pointer;
   text-decoration: none;
 }

 .btn-slide:hover {
   background-color: #d6494d;
   border: 1px solid #d6494d;
 }

 .btn-slide:active {
   background-color: #b63538;
   border: 0;
   border-top: 3px solid #9b2d30;
   padding-top: 8px;
   padding-left: 71px;
   padding-right: 71px;
   padding-bottom: 11px;
 }

 .slide1 {
   padding: 0;
   margin: 0;
   float: right;
 }

 .services {
   margin-bottom: 80px;
 }

 .service-item {
   float: left;
   width: 240px;
   min-height: 300px;
   margin-top: 22px;
   margin-right: 80px;
 }

 .service-item img {
   width: 240px;
   height: 124px;
   margin-bottom: 18px;
 }

 .service-item h3 {
   margin: 0;
   padding: 0;
   font-size: 18px;
   line-height: 30px;
   font-weight: 500;
   text-transform: uppercase;
   margin-bottom: 15px;
 }

 .service-item p {
   margin: 0;
   padding: 0;
   font-size: 15px;
   line-height: 22px;
   font-weight: 500;
 }

 .service-item:nth-child(1) {
   margin-left: 5px;
 }

 .service-item:nth-child(3n) {
   margin-right: 0;
 }

 .btn {
   margin-top: 24px;
   margin-left: 1px;
   display: inline-block;
   margin-right: 16px;
   padding: 10px 40px;
   vertical-align: top;

   font-weight: 500;
   font-size: 12px;
   line-height: 18px;
   font-family: "Roboto", "Arial", sans-serif;
   text-transform: uppercase;
   color: #ffffff;
   background-color: #fb565a;
   border: 1px solid #fb565a;
   border-radius: 2px;
   outline: none;
   cursor: pointer;
   text-decoration: none;
 }

 .btn.service1 {
   background-color: #fb565a;
   border: 1px solid #fb565a;
 }

 .btn.service1:hover {
   background-color: #d6494d;
   border: 1px solid #d6494d;
 }

 .btn.service1:active {
   background-color: #b63538;
   border: 0;
   border-top: 3px solid #9b2d30;
   padding-top: 8px;
   padding-left: 41px;
   padding-right: 41px;
   padding-bottom: 11px;
 }

 .btn.service2 {
   background-color: #00ca74;
   border: 1px solid #00ca74;
 }

 .btn.service2:hover {
   background-color: #01a25e;
   border: 1px solid #01a25e;
 }

 .btn.service2:active {
   background-color: #009053;
   border: 0;
   border-top: 3px solid #007b47;
   padding-top: 8px;
   padding-left: 41px;
   padding-right: 41px;
   padding-bottom: 11px;
 }

 .btn.service3 {
   background-color: #efc84a;
   border: 1px solid #efc84a;
 }

 .btn.service3:hover {
   background-color: #d6ae2c;
   border: 1px solid #d6ae2c;
 }

 .btn.service3:active {
   background-color: #c09b24;
   border: 0;
   border-top: 3px solid #a3841f;
   padding-top: 8px;
   padding-left: 41px;
   padding-right: 41px;
   padding-bottom: 11px;
 }

 .index-content {
   min-height: 412px;
   padding-top: 60px;
   border-top: 2px solid #eeeeee;

 }
 .index-content-left {
   float: left;
   width: 600px;
   min-height: 350px;
 }

 .index-content-left h2{
   margin: 0;
   padding: 0;
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 36px;
   line-height: 36px;
   font-weight: 500;
   margin-top: 9px;
   margin-bottom: 17px;
   margin-left: 4px;
 }

 .index-content-left p {
   margin: 0;
   padding: 0;
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 16px;
   line-height: 22px;
   font-weight: 500;
   margin-top: 9px;
   margin-bottom: 44px;
   margin-left: 5px;
 }

 .index-content-left h3 {
   margin: 0;
   padding: 0;
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 16px;
   line-height: 22px;
   font-weight: 500;
   margin-top: 9px;
   margin-bottom: 17px;
   margin-left: 5px;
   text-transform: uppercase;
 }

 .custom-list-redline {
   margin: 24px 0;
   padding: 0;

   list-style: none;
 }

 .custom-list-redline li {
   position: relative;

   margin-bottom: 26px;
   margin-left: 5px;
   padding-left: 36px;
 }

 .custom-list-redline li::before {
   content: "";
   position: absolute;
   top: 8px;
   left: 0;

   width: 25px;
   height: 2px;

   background-color: #fb565a;
 }

 .index-content-right {
   float: right;
   width: 245px;
   min-height: 350px;
   margin-right: 5px;
 }

 .index-content-right img {
   margin-top: -3px;
   margin-left: 5px;
   width: 240px;
   height: 119px;
 }

 .index-content-right h3 {
   margin: 0;
   padding: 0;
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 16px;
   line-height: 22px;
   font-weight: 500;
   margin-top: 66px;
   margin-bottom: 17px;
   margin-left: 5px;
   text-transform: uppercase;
 }

 .index-partners {
   min-height: 90px;
   padding-top: 42px;
   padding-bottom: 33px;
   margin-bottom: 87px;
   border-top: 2px solid #eeeeee;
   border-bottom: 2px solid #eeeeee;
 }

 .index-partner-item {
   float: left;
   width: 230px;
   min-height: 90px;
   margin-right: 79px;
   margin-left: 13px;
   align-items: center;
 }

 .index-partner-item:nth-child(3n) {
   margin-right: 0;
 }

  a .partner1 {
    margin-left: 5px;
    margin-top: 23px;
    opacity: 0.2;
  }

  a .partner1:hover {
    opacity: 1;
  }

  a .partner2 {
    margin-top: 11px;
    opacity: 0.2;
  }

  a .partner2:hover {
    opacity: 1;
  }

  a .partner3 {
    margin-top: 1px;
    opacity: 0.2;
  }

  a .partner3:hover {
    opacity: 1;
  }


 .index-map {
   width: 1200px;
   height: 347px;
   margin-left: -155px;
   padding-top: 67px;

   background: transparent url("../img/map.jpg") no-repeat center;
 }

 .index-map-content {
   width: 250px;
   min-height: 240px;
   margin-left: 160px;
   color: #000000;
   background-color: #ffffff;
   margin-top: 18px;
 }

 .index-map-content h3 {
   display: inline-block;
   margin: 0px;
   padding: 0px;
   width: 175px;
   font-size: 16px;
   line-height: 30px;
   font-family: "Roboto", "Arial", sans-serif;
   font-weight: 500;
   text-transform: uppercase;
   margin-bottom: 11px;
   margin-left: 21px;
   margin-top: 25px;

 }

 .index-map-content p {
   margin: 0px;
   padding: 0px;
   width: 210px;
   font-size: 16px;
   line-height: 20px;
   font-family: "Roboto", "Arial", sans-serif;
   color: #666666;
   margin-bottom: 20px;
   margin-left: 21px;
 }

 .btn.open-write-us {
   margin: 0;
   padding: 10px 53px;
   font-size: 12px;
   line-height: 18px;
   margin-left: 22px;
   font-weight: 500;
   margin-top: 10px;

 }

 .btn.open-write-us:hover {
   background-color: #d6494d;
   border: 1px solid #d6494d;
 }

 .btn.open-write-us:active {
   background-color: #b63538;
   border: 0;
   border-top: 3px solid #9b2d30;
   padding-top: 8px;
   padding-left: 54px;
   padding-right: 54px;
   padding-bottom: 11px;
 }

 .main-footer {
   width: 1200px;
   margin: 0 auto;
   height: 215px;
 }

 .main-footer .container {
   height: 210px;
 }

 .footer-social {
   float: left;
   width: 240px;
   margin-left: 8px;
   margin-top: 78px;
 }

 .social-benefit {
   float: right;
   width: 540px;
   min-height: 60px;
   margin-top: 58px;
   margin-right: 25px;
 }

 .social-btn {
   display: inline-block;
   width: 60px;
   height: 60px;
   margin-right: 26px;
   vertical-align: top;

   background-color: #e1e1e1;
   border-radius: 30px;

   background: #e1e1e1 url("../img/icons-sprite.png") no-repeat;
 }

 .social-btn:hover {
   background-color: #fb565a;
 }

 .social-btn:active {
   background-color: #d6494d;
   /*border-top: 2px solid #b63e42;*/
 }

 .social-btn.social-btn-vk {
   background-position: 16px 16px;
   font-size: 0px;
 }

 .social-btn.social-btn-fb {
   background-position:-74px 17px;
   font-size: 0px;
 }

 .social-btn.social-btn-inst {
   background-position:-163px 18px;
   font-size: 0px;
 }

 .social-btn:nth-child(3n) {
   margin-right: 0;
 }

 .social-benefit .index-content-title {
   margin: 0;
   padding: 0;
   font-size: 36px;
   line-height: 36px;
   font-weight: 500;
   font-family: "Roboto", "Arial", sans-serif;
   margin-top: 17px;
   margin-bottom: 9px;
 }

 .social-benefit p {
   margin: 0;
   padding: 0;
   font-size: 16px;
   line-height: 22px;
   font-weight: 500;
   font-family: "Roboto", "Arial", sans-serif;
 }

 .modal-contacts {
   display: none;

   z-index: 30;

   position: fixed;
   left: 50%;
   margin-left: -315px;
   bottom: 250px;
   width: 630px;
   height: 415px;

   background-color: #ffffff;
   box-shadow: 0 15px 78px rgba(0, 0, 0, 0.7);
   opacity: 0.9;
 }

 .modal-contacts-close {
   position: absolute;
   top: 10px;
   right: 10px;

   width: 40px;
   height: 40px;
   border-radius:20px;
   background-color: #fb565a;

   font-size: 0;
   border: 0;
   outline: 0;
   cursor: pointer;
 }

 .modal-contacts-close:hover {
   background-color: #d6494d;
 }

 .modal-contacts-close:active {
   background-color: #b63538;
 }

 .modal-contacts-close::before,
 .modal-contacts-close::after {
   content: "";
   position: absolute;
   top: 18px;
   left: 8px;
   width: 25px;
   height: 4px;
   background-color: #ffffff;
   border-radius: 1px;
   transform: rotate(45deg);
 }

 .modal-contacts-close::before {
   transform: rotate(45deg);
 }

 .modal-contacts-close::after {
   transform: rotate(-45deg);
 }

 .contact-form {
   width: 460px;
   height: 312px;
   margin: 0 auto;
   margin-top: 50px;
 }

 .contact-form p{
   margin: 0;
   padding: 0;
   display: inline-block;
   float: left;
   width: 240px;

   font-size: 16px;
   line-height: 18px;
   font-weight: 500;
   font-family: "Roboto", "Arial", sans-serif;
   margin-bottom: 10px;
 }

 .contact-form p:nth-child(2n){
   width: 200px;
 }

 .contact-name {
   float: left;
   width: 185px;
   height: 32px;
   border: 2px solid #d7dcde;
   border-radius: 3px;
   margin-bottom: 20px;

   font-size: 12px;
   line-height: 18px;
   color: #000000;
   font-family: "Roboto", "Arial", sans-serif;
 }

 .contact-name:hover {
   border-color: #a2a9ac;
 }

 .contact-name:active {
   border-color: #a2a9ac;
 }

 .contact-name:focus {
   border-color: #56bffb;
 }

 .contact-name::-webkit-input-placeholder {
    opacity: 1;
    text-transform: uppercase;
  }

 .contact-name:-moz-placeholder {
    opacity: 1;
    text-transform: uppercase;
  }

  .contact-form input{
      padding: 0 15px;
  }

 .contact-email {
   float: right;
   width: 185px;
   height: 32px;
   border: 2px solid #d7dcde;
   border-radius: 3px;
   margin-left: 20px;
   margin-bottom: 20px;

   font-size: 12px;
   line-height: 18px;
   color: #000000;
   font-family: "Roboto", "Arial", sans-serif;
 }

 .contact-email:hover {
   border-color: #a2a9ac;
 }

 .contact-email:active {
   border-color: #a2a9ac;
 }

 .contact-email:focus {
   border-color: #56bffb;
 }

 .contact-email::-webkit-input-placeholder {
    opacity: 1;
    text-transform: uppercase;
  }

 .contact-email:-moz-placeholder {
    opacity: 1;
    text-transform: uppercase;
  }

  .contact-form textarea {
    resize: none;
    padding: 10px 15px;
 }

 .contact-form textarea:hover {
   border-color: #a2a9ac;
 }

 .contact-form textarea:active {
   border-color: #a2a9ac;
 }

 .contact-form textarea:focus {
   border-color: #56bffb;
 }

 .contact-text {
   width: 426px;
   height: 90px;
   border: 2px solid #d7dcde;
   border-radius: 3px;
   margin-bottom: 19px;

   font-size: 12px;
   line-height: 18px;
   color: #000000;
   font-family: "Roboto", "Arial", sans-serif;
 }
 .contact-text::-webkit-input-placeholder {
    opacity: 1;
    text-transform: uppercase;
  }

 .contact-text:-moz-placeholder {
    opacity: 1;
    text-transform: uppercase;
  }

 .btn.send-contact {
   width: 458px;
 }

 .btn.send-contact:hover {
   background-color: #d6494d;
 }

 .btn.send-contact:active {
   background-color: #b63538;
   border: 0;
   border-top: 3px solid #9b2d30;
   padding-top: 8px;
   padding-left: 194px;
   padding-right: 194px;
   padding-bottom: 11px;
 }

 .modal-overlay {
   display: none;

   position: fixed;
   top: 0;
   left: 0;
   z-index: 10;

   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.1);
 }


 /*body > * {
   background:  rgba(0, 128, 0, 0.2);
   box-shadow: 0 0 0 3px green;
 }

 body > * > * {
   background:  rgba(255, 45, 82, 0.2);
   box-shadow: 0 0 0 3px rgb(255, 45, 82);
 }

 body > * > * > * {
   background:  rgba(234, 255, 45, 0.2);
   box-shadow: inset 0 0 0 2px rgb(234, 255, 45);
 }

 body > * > * > * > * {
   background:  rgba(219, 128, 235, 0.7);
   box-shadow: inset 0 0 0 2px rgb(219, 128, 235);
 }*/
